@model List<Experience>
@{
    ViewData["Title"] = "Index";
}

<body id="page-top">


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">
            DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                                                                       href="https://datatables.net">official DataTables documentation</a>.
        </p>
        <a asp-controller="Experiences" asp-action="Create" class="btn btn-primary mb-4">Add</a>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th></th>
                                <th></th>


                            </tr>
                        </thead>
                        <tfoot>
                           
                        </tfoot>
                        <tbody>
                            <tr>
                                @foreach (var item in Model)
                                {
                                 <td>@item.Id</td>
                                 <td>@item.Name</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                 <td>@item.Date</td>
                                <td><a class="btn btn-success" asp-controller="Experiences" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                                <td><a class="btn btn-danger" asp-controller="Experiences" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                                    
                                }
                                @*<td>@Model.Title</td>
                                <td>@Model.Address</td>
                                <td>@Model.Number</td>
                                <td>@Model.Email</td>
                                <td>@Model.LinkEdin</td>
                                <td>@Model.Github</td>
                                <td>@Model.Twitter</td>
                                <td>@Model.Facebook</td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->



</body>

